<div class="well well-sm">
    <div class="row">
        <div class="form-group">
            <label class="label-control col-sm-2 col-md-offset-2">Ingresa TODO:</label>
            <div class="col-md-5 col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="descripcionTodo">
            </div>
            <button class="btn btn-default col-md-1 col-sm-2" name="Agregar" (click)="agregarTodo()">
                Agregar
            </button>
        </div>
    </div>
</div>