<table class="table">
    <thead>
        <tr>
            <th>Identificador</th>
            <th>¿Qué hay que hacer?</th>
            <th>Fecha de Creación</th>
            <th>Eliminar</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let todo of todos">
            <td>{{todo.id}}</td>
            <td>{{ todo.texto }}</td>
            <td>{{formatearFecha(todo.fecha) }}</td>
            <td><button class="btn btn-default" name="Eliminar" (click)="eliminarTodo(todo.id)">Eliminar</button></td>
        </tr>
    </tbody>
</table>